@font-face {
    font-family: DejaVu;
    src: url(fonts/DejaVuSans.ttf);
 }
 .home{
     margin: 0px;
 }
 .top-bar{
    height: 45px;
    background-color: #333333;
     display: flex;
     justify-content: center;
     
 }
 
 .top-bar > *{
    display: flex;
 }
 .cart-icon,.top-bar a{
     padding:  10px 0;
 }
 a{
    text-decoration: none;
 }
 .currency{
     padding-right:340px;

 }
.currency >a{
    
    font-size: 13px;
    line-height: 21px;
    color: #777777;
}
.sign-in{
    padding-right:20px;
}
.sign-up{
    padding-right:40px;
    
}
.sign-in >a,.sign-up >a{
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    text-align: right;
    
}

.cart{
    display: inline;
    width: 147px;
height: 46px;
background-color: #00c8c8;
text-align: center;

}
.cart-icon{
    font-size: 20px;
line-height: 36px;
color: #ffffff;
padding-right: 10px;

}

.cart >a{
    
    font-size: 13px;
line-height: 21px;
color: #ffffff;
font-family: "Montserrat";
}

/* end top bar */
.main-bar {
    z-index: auto;
    position: absolute;
    margin-top: 35px;
    display: flex;
     justify-content: center;

}

.logo > a{
    font-size: 24px;
letter-spacing: 1px;
color: #222222;
font-family: "Montserrat";
font-weight: bold;
}
.nav-bar >.inline-menu > ul{
    padding-left: 320px
}
.inline-menu > ul{
    list-style: none;
    margin-top:0px;
    display: inline-flex;
    
}
.inline-menu > ul >li{
    padding-right: 28px;
    
}
.inline-menu> ul >li >a{
    font-size: 13px;
line-height: 20px;
color: #333333;
font-family: "Montserrat";
text-align: right;
display: block
}
.inline-menu-active{
    color: #00c8c8 !important;
}
 

/* end main bar */

.search { 
    position: relative; 
    text-align: center;
  }
  .search input { 
      padding-left: 10px;
      padding-right: 10px;
    width: 190px;
    height: 30px;
    background-color: rgba(248,248,248,0);
    border: 1px solid #e7e7e7;

    font-size: 13px;
line-height: 27px;
color: #989898;
font-family: "Montserrat";
font-weight: 300;
  }
  .search .fa-search { 
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 14px;
line-height: 27px;
color: #989898;
  }

  .slider{
    height: 920px;
    background-color: #f8f8f8;
  }
  /* start main content */
  .main-content{
      margin-right: 67px;
      margin-left:76px
  }
hr{
    margin-top: 60px;
    margin-bottom: 60px;
height: 1px;
background-color: #eeeeee;
display: block;
border: 0;
border-top: 1px solid #eeeeee;
padding: 0;
}

.inline-menu > ul{
    padding-inline-start: 0px;
}

/* cards  */
.cards{
    list-style: none;
    padding-inline-start: 0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.cards > .double{
    grid-column: span 2;
    grid-row: span 2;
}
.cards > .card-item{
    text-align: center;
    position: relative;
    margin: 10px;
    background-color: #f8f8f8;
}

.card-item .card{
    margin: 0px;
   position: relative;
}
.card-item .caption{
    font-size: 21px;
letter-spacing: 1px;
color: #9a9a9a;
font-family: "Montserrat";
font-weight: 300;
position: absolute;
top:16px;
left:18px;
}
.details-link{
position: absolute;
top:50%;
left: 45%;
font-size: 48px;
line-height: 20px;
color: #ffffff;
box-shadow: 1px 1.732px 16px rgba(0,0,0,0.13);
display:none;
}
/* info */

.card-item > .info{
    background-color: #ffffff;
    display: none;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 99;
    width: 100%;
}
.card-item:hover .info,.card-item:hover .details-link{
    display: block;
}
.card-item:hover {
box-shadow: 0 0 24px rgba(0,0,0,0.14);
background-color: #f8f8f8;
}

.card-item >.info>h3{
   
    font-size: 13px;
    line-height: 20px;
    color: #727272;
    font-family: "Montserrat";
    text-align: center;

}
.card-item >.info>p{
   
    font-size: 15px;
    line-height: 22px;
    color: #8e8c8c;
    font-family: "Roboto";
    text-align: center;
}
.card-item .controls button{
    width: 30px;
height: 30px;
border-radius: 15px;
text-decoration: none;
border: none;
padding: 0px;

font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    
    text-align: center;
}
.card-item .controls>.cart{
    background-color: #00c8c8;
    
}
.card-item .controls>.wishlist{

    background-color: #727272;

}

.card-item .controls>.compare{
    background-color: #727272;
  

}






